<table border="0" cellspacing="0" cellpadding="0" width="720">
<tbody><tr>
<td width="60"></td>
      <td>
          <p style="font-family:Helvetica,sans-serif;margin-left:39px;margin-bottom:7px;margin-right:0;font-size:20px;padding-top:29px;margin-top:0;color:#46494d;line-height:26px;font-weight:bold">
            You've got files

          </p>
      </td>
      <td width="60"></td>
    </tr>
<tr>
<td valign="top" style="text-align:right;padding-bottom:25px">
        <img alt="" height="52" src="https://www.wetransfer.com/assets/v3/space-18859c4a7f4454262dffc36a3fdb0e4e.gif" style="min-height:auto;line-height:100%;outline:none;text-decoration:none;min-height:52px" width="1"><br>
<a href="https://www.wetransfer.com/" style="text-decoration:none;color:#3399dd" target="_blank"><img alt="WeTransfer" src="https://www.wetransfer.com/assets/v3/label-default-dark-dc1d23e5972eee88b2c810d14bbbca45.png" width="24" style="min-height:auto;line-height:100%;text-decoration:none;outline:none;border:0"></a>
      </td>
      <td>
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody><tr height="44"><td width="600" height="44"><img alt="" height="44" src="https://www.wetransfer.com/assets/v3/box-top-2430291cb9b8cee2bc2ef73c26e71f23.png" style="min-height:auto;line-height:100%;outline:none;text-decoration:none;display:block" width="600"></td>
</tr>
<tr style="background:#e5f2ff url('https://www.wetransfer.com/assets/v3/box-middle.png') repeat-y center">
<td>
              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="line-height:0px">
<tbody><tr>
<td width="5"></td>
<td bgcolor="#e5f2ff" style="padding:0;padding-bottom:25px">
<div style="padding:0px 33px;min-height:104px">
<table border="0" cellpadding="0" cellspacing="0"><tbody><tr>
<td style="vertical-align:top;font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;color:#46494d">
<table border="0" cellpadding="0" cellspacing="0"><tbody><tr>
<td style="vertical-align:top;font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;color:#46494d">
<img alt="" height="48" src="https://www.wetransfer.com/assets/v3/email-avatar-48-055fd084079553b1c06a15aaea52a561.png" width="48" style="min-height:auto;line-height:100%;text-decoration:none;outline:none;padding:0 14px 0 0">
</td>
<td style="vertical-align:top;font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;color:#46494d">
<p style="font-family:Helvetica,sans-serif;font-size:13px;padding-top:0px;margin-right:0;font-weight:bold;margin-top:0;margin-left:0;margin-bottom:0;color:#3399dd;line-height:24px"><a href="mailto:contact@paulhensen.com" target="_blank">contact@paulhensen.com</a></p>

<p style="padding-top:0;margin-bottom:0;font-weight:100;margin-left:0;font-size:13px;margin-top:0;margin-right:0;font-family:Helvetica,sans-serif;color:#46494d;line-height:20px">has sent you some files</p>
</td>
</tr></tbody></table>
<div style="padding-top:15px;margin-top:0;margin-right:0;margin-bottom:12px;margin-left:0">
Hoi pieter,
<br><br>
hierbij de render met inhoud van Compeo. de opsomming teksten zijn nog neit geautomatiseerd dus die zijn niet ingevuld maar wel getimed nu.
<br>
vooral de laatste slide vind ik erg paars, de ander incl. de photo's (hier ervaar je dat verloopje dan) vind ik goed werken.
<br><br>
gr
<br><br>
P.
<br>
</div>
<table border="0" cellpadding="0" cellspacing="0"><tbody><tr>
<td style="font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;color:#46494d;vertical-align:middle;border-spacing:0;padding:0">
<a href="https://www.wetransfer.com/downloads/91115421a6adfe07293a9a9db366f05920130710152313/09319fde02901cf9ba93dd12138084fa20130710152313/f51c5b" style="text-decoration:none;color:#3399dd;margin-right:14px;margin-top:0;font-weight:bold;margin-bottom:0;margin-left:0;padding:0;display:block" target="_blank"><img alt="Download" height="27" src="https://www.wetransfer.com/assets/v3/email-button-download-en-02db95177f81e7b21d6948d15ca6b887.png" width="96" style="min-height:auto;line-height:100%;text-decoration:none;outline:none;border:0"></a>
</td>
<td style="font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;color:#46494d;vertical-align:middle;border-spacing:0;padding:0">Available until 24 July, 2013</td>
</tr></tbody></table>
<table border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td style="font-weight:bold;padding-top:19px;line-height:20px;font-size:13px;color:#46494d;font-family:Helvetica,sans-serif;vertical-align:top">
Files (8.85 MB total)
</td>
</tr>
<tr>
<td style="vertical-align:top;font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;color:#46494d">Compeo Edit_V4_1.mov</td>
</tr>
</tbody></table>
<div style="font-size:11px;line-height:14px;padding-top:26px;margin-top:0;color:#909ead">
Can't see the download button?
<br><a href="https://www.wetransfer.com/downloads/91115421a6adfe07293a9a9db366f05920130710152313/09319fde02901cf9ba93dd12138084fa20130710152313/f51c5b" style="font-weight:bold;color:#909ead;text-decoration:underline" target="_blank">You can still download your file.</a>
</div>
</td>
</tr></tbody></table>
</div>
</td>
<td width="5"></td>
</tr>
<tr style="background:#e5f2ff url('https://www.wetransfer.com/assets/v3/box-middle.png') repeat-y center;background:#ffffff url('https://www.wetransfer.com/assets/v3/box-middle-white-1a1a74e73dc232fa1510cb9e01f7c9bb.png') repeat-y center">
<td colspan="3"><img alt="" height="18" src="https://www.wetransfer.com/assets/v3/box-middle-arrow-d1260593d8623e6afb11ba693b48ae4c.png" width="600" style="min-height:auto;line-height:100%;outline:none;text-decoration:none;min-height:auto;line-height:100%;outline:none;text-decoration:none"></td>
</tr>
</tbody></table>
</td>
          </tr>
<tr style="background:#e5f2ff url('https://www.wetransfer.com/assets/v3/box-middle.png') repeat-y center;background:#ffffff url(https://www.wetransfer.com/assets/v3/box-middle-white-1a1a74e73dc232fa1510cb9e01f7c9bb.png) repeat-y center">

<td>
	        <table border="0" cellspacing="0" cellpadding="0" width="100%"><tbody><tr>
<td width="5"></td>
	              <td bgcolor="#ffffff" style="padding:0;margin-top:1px;margin-right:0;margin-bottom:0;margin-left:0">
                  <div style="padding:0 33px;min-height:20px">
                    <table border="0" cellpadding="0" cellspacing="0" style="padding-top:10px;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0px;margin-top:1px;margin-right:0;margin-bottom:0;margin-left:0">
<tbody><tr>
<td style="vertical-align:top;font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;color:#46494d;padding:0 10px 0 0;font-family:Helvetica,sans-serif;font-size:13px;line-height:14px;margin-top:0;color:#ffffff">

							<a href="https://www.wetransfer.com/plus?trk=email" style="text-decoration:none;color:#3399dd;text-decoration:none;color:#46494d" target="_blank">Get more out of WeTransfer. See what <span style="text-decoration:none;color:#3399dd;font-weight:bold">Plus</span> has to offer.</a>

                        </td>
                      </tr></tbody></table>
</div>
                </td>
	            <td width="5"></td>
	          </tr></tbody></table>
</td>
          </tr>
<tr height="17"><td><img alt="" height="17" src="https://www.wetransfer.com/assets/v3/box-bottom-white-41a7e2575e15556aa5e41c857557f3e2.png" style="min-height:auto;line-height:100%;outline:none;text-decoration:none;min-height:auto;line-height:100%;outline:none;text-decoration:none" width="600"></td>
</tr>
</tbody></table>
</td>
      <td></td>
    </tr>
<tr style="padding:5px;font-size:11px;color:#95989b">
<td></td>
      <td>
        <table border="0" cellspacing="0" cellpadding="0" width="100%"><tbody><tr>
<td>
              <p style="font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;padding-top:0px;margin-top:0;color:#46494d;margin-bottom:19px;margin-right:0;margin-left:39px">
                <a href="https://www.wetransfer.com/about" style="color:#95989b;font-size:11px;text-decoration:none;margin-right:10px;line-height:19px" target="_blank">About</a>
                <a href="https://www.wetransfer.com/questions" style="color:#95989b;font-size:11px;text-decoration:none;margin-right:10px;line-height:19px" target="_blank">Questions</a>
                <a href="https://www.wetransfer.com/legal" style="color:#95989b;font-size:11px;text-decoration:none;margin-right:10px;line-height:19px" target="_blank">Legal</a>
              </p>
            </td>
            <td>
              <p style="font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;padding-top:0px;margin-top:0;color:#46494d;margin-bottom:19px;margin-right:0;margin-left:39px;font-family:Helvetica,sans-serif;font-size:13px;line-height:20px;padding-top:0px;margin-top:0;color:#46494d;margin-bottom:19px;margin-right:0;margin-left:39px;text-align:right">

                <a href="http://ox-d.wetransfer.com/w/1.0/ai?auid=443977&amp;cs=23423" style="color:#95989b;font-size:11px;text-decoration:none;margin-right:10px;line-height:19px;color:#95989b;font-size:11px;text-decoration:none;margin-right:10px;line-height:19px" target="_blank">Powered by <span style="text-decoration:underline">Amazon Web Services</span></a>

              </p>
            </td>
            <td width="31">  
            </td>
          </tr></tbody></table>
</td>
      <td></td>
    </tr>
<tr height="40">
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody></table>