<h1>Script your video today!</h1>
<p>Here is some awesome text about how to use the wizard...</p>

<div id="wufoo-p7x0r9">
	Fill out my <a href="http://vicancy.wufoo.com/forms/p7x0r9">online form</a>.
</div>
<script type="text/javascript">var p7x0r9;(function(d, t) {
	var s = d.createElement(t), options = {
		'userName':'vicancy', 
		'formHash':'p7x0r9', 
		'autoResize':true,
		'height':'260',
		'async':true,
		'header':'show'};
	s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
	s.onload = s.onreadystatechange = function() {
	var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
	try { p7x0r9 = new WufooForm();p7x0r9.initialize(options);p7x0r9.display(); } catch (e) {}};
	var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
	})(document, 'script');
</script>
