// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#videowizard_questionnaire{
  width: 100%;
  min-height: 30em;
  border: none;
  overflow-y: scroll;
}
