// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#videowizard_questionnaire{
  width: 100%;
  height: 3950px;
  border: none;
  overflow: hidden;
}
