// Core variables and mixins
@import "bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins";

// CSS Reset
@import "bootstrap/reset";

// Grid system and page structure
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/layouts";

// Base CSS
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/forms";
@import "bootstrap/tables";

// Components: common
@import "bootstrap/sprites";
@import "bootstrap/dropdowns";
@import "bootstrap/wells";
@import "bootstrap/component-animations";
@import "bootstrap/close";

// Components: Buttons & Alerts
@import "bootstrap/buttons";
@import "bootstrap/button-groups";
@import "bootstrap/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";

// Components: Popovers
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";

// Components: Misc
@import "bootstrap/thumbnails";
@import "bootstrap/media";
@import "bootstrap/labels-badges";
@import "bootstrap/progress-bars";
@import "bootstrap/accordion";
@import "bootstrap/carousel";
@import "bootstrap/hero-unit";

// Utility classes
@import "bootstrap/utilities"; // Has to be last to override when necessary

body {
	margin-top: 50px;
	background: #E3E3E3 url("/images/background.png");
	font-family: Arial, sans-serif;
	color: #585858;
	font-size: 15px;
}

.footer {
	margin-top: 50px;
}

#toparea {
	margin-left: 25px;

}

/* Put this at the end, so it renders after page is ready. */
@import 'bootstrap-responsive';


.wrapper {
	width: 960px;
	margin: 0 auto;
}

header {
	height: 630px;
	width: 100%;
	background: #f7f7f7;
	-webkit-box-shadow:  0px 1px 5px 1px #999;
	box-shadow:  0px 1px 5px 1px #999;
}

#video {
	margin: 0 auto;
	padding-top: 60px;
	iframe{
		width: 100%;
		min-height: 420px;
	}
}

.buttons {
	margin: 45px 0 0 10px;
	text-align: center;
	position: relative;
}

.buttons .shaddow {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:  0px 1px 5px 1px #999;
	box-shadow:  0px 1px 5px 1px #999;
	width: 245px;
	height: 56px;
	padding: 2px;
	margin: 0 auto;
}

.share-box {
	position: absolute;
	top: 15px;
	right: 190px;
	overflow: hidden;
	width: 170px;
	height: 30px;
}
.share-box .slide {
	position: absolute;
	left: -170px;
}

a.powered-by {
	float: right;
	font-size: 12px;
	margin: -20px 70px 0 0;
	color: #808080;
}
.btn-xlarge {
	padding: 18px 28px;
	font-size: 22px !important;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.content {
	margin: 20px 0;
	float: left;
	width: 100%;
	.left {
		float: left;
		width: 825px;
	}
	.right {
		float: right;
		width: 320px;
		font-size: 16px;
	}
	.company {
		background: #FFF;
	}
}
.white-box{
	background-color: #FFF;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
}

#content {
	color: #676767;
	min-height: 289px;
}

.tabs{
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	//position: relative;
	z-index: -1;
	height: 40px;
	li{
		display: inline-block;
		padding: 0;
		margin: 0;
		height: 30px;
		background: #EEE;
		line-height: 30px;
		position: relative;
		top: 10px;
		float: left;
		&:hover{
			a{background-color: #F7F7F7;}
			&:after { border-left-color: #F7F7F7 !important; }
		}
		a{padding: 0 25px;color: #585858;}
		&:not(.active){border-left: 1px solid #CCC;}
		&.active {
			background: #fff;
			height: 40px;
			line-height: 40px;
			top: 0;
			&:after {
				content: "";
				border-style: solid;
				border-width: 40px 0 0 20px;
				border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF;
				position: absolute;
				z-index: 99;
				top: 0;
				right: -20px;
			}
		}
		&:after {
			content: "";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 30px 0 0 15px;
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #EEE;
			position: absolute;
			z-index: 0;
			right: -15px;
			top: 0px;
		}
	}
}

.tab-content{
	background: #FFF;
	padding: 10px 0px;
}

#contact-area{
	padding: 10px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	.company{
		padding: 10px;
	}
	*{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
    margin-top: 0;
  }
}
