// Core variables and mixins
@import 'bootstrap';
@import 'bootstrap-responsive';

body {
	margin-top: 50px;
	background: #E3E3E3 url("/images/background.png");
	font-family: Arial, sans-serif;
	color: #585858;
	font-size: 15px;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}


/*  Jumbotron Masthead
============================================*/

.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  .jumbotron:after {
    background-size: 150px 150px;
  }

}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

/*  Landingpage
============================================*/

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}


/*
=====================================================*/

#toparea {
	margin-left: 25px;

}

/* Put this at the end, so it renders after page is ready. */
@import 'bootstrap-responsive';


.wrapper {
	width: 960px;
	margin: 0 auto;
}

header {
	height: 630px;
	width: 100%;
	background: #f7f7f7;
	-webkit-box-shadow:  0px 1px 5px 1px #999;
	box-shadow:  0px 1px 5px 1px #999;
}

#firstBox {
	margin: 0 auto;
	padding-top: 60px;
	iframe{
		width: 90%;
		max-width: 820px;
		height: 458px;
	}
}

.buttons {
	margin: 45px 0 0 10px;
	text-align: center;
	position: relative;
}

.buttons .shaddow {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:  0px 1px 5px 1px #999;
	box-shadow:  0px 1px 5px 1px #999;
	width: 245px;
	height: 56px;
	padding: 2px;
	margin: 0 auto;
}

.share-box {
	position: absolute;
	top: 15px;
	right: 190px;
	overflow: hidden;
	width: 170px;
	height: 30px;
}
.share-box .slide {
	position: absolute;
	left: -170px;
}

a.powered-by {
	float: right;
	font-size: 12px;
	margin: -20px 70px 0 0;
	color: #808080;
}
.btn-xlarge {
	padding: 18px 28px;
	font-size: 22px !important;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.content {
	margin: 20px 0;
	float: left;
	width: 100%;
	.left {
		float: left;
		width: 825px;
	}
	.right {
		float: right;
		width: 320px;
		font-size: 16px;
	}
	.company {
		background: #FFF;
	}
}
.white-box{
	background-color: #FFF;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
}

#content {
	color: #676767;
	min-height: 289px;
}

.tabs{
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	//position: relative;
	z-index: -1;
	height: 40px;
	li{
		display: inline-block;
		padding: 0;
		margin: 0;
		height: 30px;
		background: #EEE;
		line-height: 30px;
		position: relative;
		top: 10px;
		float: left;
		&:hover{
			a{background-color: #F7F7F7;}
			&:after { border-left-color: #F7F7F7 !important; }
		}
		a{padding: 0 25px;color: #585858;}
		&:not(.active){border-left: 1px solid #CCC;}
		&.active {
			background: #fff;
			height: 40px;
			line-height: 40px;
			top: 0;
			&:after {
				content: "";
				border-style: solid;
				border-width: 40px 0 0 20px;
				border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF;
				position: absolute;
				z-index: 99;
				top: 0;
				right: -20px;
			}
		}
		&:after {
			content: "";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 30px 0 0 15px;
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #EEE;
			position: absolute;
			z-index: 0;
			right: -15px;
			top: 0px;
		}
	}
}

.tab-content{
	background: #FFF;
	padding: 10px 0px;
}

#contact-area{
	padding: 10px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	.company{
		padding: 10px;
	}
	*{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
}

.files-list{
	ul{
		list-style: none;
		li{
			margin-top: 10px;
		}
	}
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
    margin-top: 0;
  }
}
