<p>Welkom <%= @email %>!</p>

<p>Klik op onderstaande link om je account te bevestigen:</p>

<p><%= link_to 'Bevestig mijn account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
