<p>Hallo <%= @resource.email %>!</p>

<p>Je ontvangt deze mail om je wachtwoord te wijzigen. Doe dit door op de link hieronder te klikken.</p>

<p><%= link_to 'Wijzig mijn wachtwoord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Heb jij dit niet aangevraagd? Negeer dan deze mail.</p>
<p>Je wachtwoord veranderd niet totdat je een nieuw wachtwoord instelt via de link hierboven.</p>
