<!-- navbar top right -->
  <div class="navigation">
    <ul class="pull-right inline">
      <li><%= link_to 'Account', '#user_edit_form', class: 'button_tooltip', title: 'Bewerk je Account', data: {toggle: 'modal', placement: 'bottom', resource: current_user, resource_name: current_user} %></li>
      <li class="muted">&middot;</li>
      <li><%= link_to "Uitloggen", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>